
md-list-item
{
      margin :auto;;
    button
    {
       
    }
}

md-toolbar
{
  padding: 0px 0px 0px 10px;
}

md-content 
{
    padding: 20px;
}


 md-icon
 {
   width: 80px !important;
   height: 80px !important;
   & svg
   {
     border-radius: 100%;;
   }
 }
