
/*div{
    color: blue;
}*/

// md-sidenav {
//     background-color: blue;
// }

// md-content {
//     background-color: green;
// }

md-list-item
{
    button
    {
        md-icon
        {
            margin : 5px 5px 5px 5px;
            width: 128px;
            height: 128px;
        }
    }
}

md-content 
{
    margin: 20px;
}